* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 5rem 0;
  color: #c1c1de;
  background-color: #050526;
}

.header {
  font-size: 2rem;
  padding: 1.5rem 0rem;
  margin: 1rem 0 0;
  border: 1px solid #74ae47;
  display: flex;
  justify-content: space-around;
}

.store,
.cart {
  padding: 1rem 2rem 2rem;
  margin: 2rem 0 0;
  border: 1px solid #74ae47;
}

.store-title,
.cart-title {
  padding: 0 0 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.store-items,
.cart-items {
  display: flex;
  justify-content: space-around;
}

.store-item,
.cart-item {
  display: flex;
  flex-direction: column;
}

.store-item-image,
.cart-item-image {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
}

.store-item-name,
.cart-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

/* highligh from top left */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c1c1de;
  cursor: pointer;
  padding: 0.5rem 0;
  border-radius: 10% / 25%;
  border-color: #c1c1de;
  background-color: #549126;
  box-shadow: 0.1875rem 0.1875rem #444;
}

.button-enabled {
  opacity: 1;
  cursor: auto;
}

button:hover.button-enabled {
  color: #c1c1de;
  background-color: #386615;
}

button:active.button-enabled {
  color: #c1c1de;
  background-color: #386615;
  box-shadow: 0 0 #444;
  transform: translate(0.1875rem, 0.1875rem);
}

.button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background-color: #386615;
  border-color: black;
  box-shadow: 0 0 #444;
  transform: translate(0.1875rem, 0.1875rem);
}
